.App {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.container-fluid {
  padding: 0px;
}

.pointer {
  cursor: pointer;
}

.App-header {
  height: 150px;
}

.App-title {
  font-size: 1.5em;
}

.App-info {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: large;
}

.hero-container {
  background: url("../assets/danceFaces.jpg") no-repeat top;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  filter: grayscale(50%);
}

.info-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

#proposal {
  margin-bottom: 50px;
}

.video-title {
  padding-bottom: 10px;
}

.video-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.lol-logo.show {
  opacity: 1;
  visibility: visible;
}

.lol-logo {
  margin-top: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.lol-logo.show {
  opacity: 1;
  visibility: visible;
}

.btn.info-button {
  border-color: lightgray;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover .film {
  animation: film-flip infinite 10s linear;
}

.btn:hover .soccer-ball {
  animation: soccer-ball-spin infinite 20s linear;
}

.btn:hover .game-controller {
  animation: tilt infinite 2s linear;
}

@keyframes film-flip {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(360deg); }
}

@keyframes soccer-ball-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}
